modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"
packages = ["maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Maven Build and Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "maven_test"

[[workflows.workflow]]
name = "Maven Build and Test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile test -Denvironment=staging"

[[workflows.workflow]]
name = "maven_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile -X"
